<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031952144143-otq1hijb1i1r0o8lqv1o0kecc5ahviki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031952144143-otq1hijb1i1r0o8lqv1o0kecc5ahviki</string>
	<key>API_KEY</key>
	<string>AIzaSyDYYz_Z_RHfnKvOkTtI1shLyhstqJlAZmo</string>
	<key>GCM_SENDER_ID</key>
	<string>1031952144143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.husalmous.Schoolender</string>
	<key>PROJECT_ID</key>
	<string>hackathon-kwcodes</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-kwcodes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031952144143:ios:7f18ff0a758091c4e0907a</string>
</dict>
</plist>